/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*This style will blend Firefox 65+ in elementary OS.  Currently tested on Linux on Nightly*/

/* This userChrome is for Flatpak Firefox */

/************************************
MENU POPUPS + right mouse click menus
*************************************/

/* Dark Mode menu popups */
:root:-moz-lwtheme-brighttext {
    --arrowpanel-background: #303030 !important;
    --arrowpanel-color: #fff !important;
    --arrowpanel-border-color: #000 !important;
    --button-hover-bgcolor: rgba(255,255,255,0.13) !important;
}
menupopup:-moz-lwtheme-brighttext {
    --panel-background: #303030 !important;
    --panel-color: #fff !important;
    --panel-border-color: #000 !important;
}
menupopup menu[_moz-menuactive="true"]:not([disabled="true"]):-moz-lwtheme-brighttext,
menupopup menuitem[_moz-menuactive="true"]:not([disabled="true"]):-moz-lwtheme-brighttext {
    appearance: none !important;
    background-color: rgba(255,255,255,0.13) !important;
    padding: 4px 6px 4px 6px !important;
}
menubar > menu[open="true"]:-moz-lwtheme-brighttext {
    appearance: none !important;
	color: #d1d1d1 !important;
	background-color: rgba(255,255,255,0.13) !important;
	margin: 0px 6px !important;
}

/* Dark Mode in Tweaks menu popups */
@media (prefers-color-scheme: dark) {
:root {
    --arrowpanel-background: #303030 !important;
    --arrowpanel-color: #fff !important;
    --arrowpanel-border-color: #000 !important;
    --button-hover-bgcolor: rgba(255,255,255,0.13) !important;
}
menupopup {
    --panel-background: #303030 !important;
    --panel-color: #fff !important;
    --panel-border-color: #000 !important;
}
menupopup menu[_moz-menuactive="true"]:not([disabled="true"]),
menupopup menuitem[_moz-menuactive="true"]:not([disabled="true"]) {
    appearance: none !important;
    background-color: rgba(255,255,255,0.13) !important;
    padding: 4px 6px 4px 6px !important;
}
menubar > menu[open="true"] {
	color: #fff !important;
}
.checkbox-check,
menupopup > menuitem image {
    height: 16px !important;
    width: 16px !important;
    background-color: rgba(68,68,68,1) !important;
    border: 1px solid rgba(56,56,56,1) !important;
    border-radius: 3px !important;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.10) !important;
}
menupopup > menuitem[checked="true"] image {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='svg2' height='24' width='24' version='1.2'%3E%3Cdefs id='defs4'%3E%3ClinearGradient id='linearGradient4011'%3E%3Cstop offset='0' style='stop-color:%23ffffff;stop-opacity:1' id='stop4013' /%3E%3Cstop offset='0.507761' style='stop-color:%23ffffff;stop-opacity:0.23529412' id='stop4015-3' /%3E%3Cstop offset='0.83456558' style='stop-color:%23ffffff;stop-opacity:0.15686275' id='stop4017-2' /%3E%3Cstop offset='1' style='stop-color:%23ffffff;stop-opacity:0.39215687' id='stop4019' /%3E%3C/linearGradient%3E%3ClinearGradient gradientTransform='matrix(0.5135135,0,0,0.5135135,-24.83614,-1.0212801)' gradientUnits='userSpaceOnUse' xlink:href='%23linearGradient4011' id='linearGradient12398-3' y2='44.340794' x2='71.204407' y1='6.2375584' x1='71.204407' /%3E%3ClinearGradient gradientTransform='matrix(0.8047894,0,0,0.60165743,-1628.8199,-1928.0804)' gradientUnits='userSpaceOnUse' xlink:href='%23linearGradient947-5' id='linearGradient11527-6-5' y2='3241.9966' x2='2035.1652' y1='3208.0737' x1='2035.1652' /%3E%3ClinearGradient id='linearGradient947-5'%3E%3Cstop offset='0' style='stop-color:%2364baff;stop-opacity:1' id='stop943-6' /%3E%3Cstop offset='1' style='stop-color:%233689e6;stop-opacity:1' id='stop945-2' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cmetadata id='metadata7'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;opacity:0.98999999;fill:url(%23linearGradient11527-6-5);fill-opacity:1.0;fill-rule:nonzero;stroke:none;stroke-width:0.99999982;marker:none;enable-background:accumulate' id='path2555-7-8-5-0-9' d='M 12,1.4999999 C 6.2064599,1.4999999 1.4999999,6.2064599 1.4999999,12 1.4999999,17.79354 6.2064599,22.5 12,22.5 17.79354,22.5 22.50001,17.79354 22.5,12 22.5,6.2064599 17.79354,1.4999999 12,1.4999999 Z' /%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;opacity:0.5;fill:none;stroke:%23002e99;stroke-width:0.99999988;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker:none;enable-background:accumulate;clip-rule:nonzero;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:%23000000;solid-opacity:1;fill-opacity:1;fill-rule:nonzero;filter-blend-mode:normal;filter-gaussianBlur-deviation:0;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto' id='path2555-7-8-5-1' d='M 12,1.4999999 C 6.2064599,1.4999999 1.4999999,6.2064599 1.4999999,12 1.4999999,17.79354 6.2064599,22.5 12,22.5 17.79354,22.5 22.50001,17.79354 22.5,12 22.5,6.2064599 17.79354,1.4999999 12,1.4999999 Z' /%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;opacity:0.5;fill:none;stroke:url(%23linearGradient12398-3);stroke-width:0.99999988;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker:none;enable-background:accumulate' id='path8655-6-0-9-5-0' d='m 21.49999,11.99966 c 0,5.24688 -4.25361,9.50034 -9.49988,9.50034 -5.2467501,0 -9.5001101,-4.25351 -9.5001101,-9.50034 0,-5.2466301 4.25336,-9.4996601 9.5001101,-9.4996601 5.24627,0 9.49988,4.25303 9.49988,9.4996601 z' /%3E%3Cpath d='m 16.019531,6.625 a 1.0009301,1.0009301 0 0 0 -0.820312,0.3808594 l -4.544922,5.7773436 -2.2656251,-1.96875 a 1.0009301,1.0009301 0 0 0 -1.4550781,0.152344 l -1.7324219,2.294922 a 1.0009301,1.0009301 0 0 0 0.1445312,1.361328 l 5.2343749,4.511719 a 1.0009301,1.0009301 0 0 0 1.453125,-0.154297 l 6.765625,-8.939453 A 1.0009301,1.0009301 0 0 0 18.669922,8.6933594 l -2.013672,-1.8125 A 1.0009301,1.0009301 0 0 0 16.019531,6.625 Z' id='path2922-6-6-0-9-4-3' style='color:%23000000;display:inline;overflow:visible;visibility:visible;opacity:0.05;vector-effect:none;fill:%23002e99;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;marker:none;enable-background:accumulate;font-variant-east_asian:normal' /%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;fill:%23002e99;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;marker:none;enable-background:accumulate;font-variant-east_asian:normal;opacity:0.15;vector-effect:none;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1' id='path2922-6-6-0-9-4' d='m 15.98656,7.62453 2.01342,1.81209 -6.76511,8.93959 -5.2348901,-4.51006 1.73154,-2.29531 3.0604001,2.65772 z' /%3E%3Cpath style='color:%23000000;display:inline;overflow:visible;visibility:visible;fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.84323651;marker:none;enable-background:accumulate' id='path2922-6-6-0-9' d='m 15.98656,6.62417 2.01342,1.81209 -6.76511,8.93959 -5.2348901,-4.51006 1.73154,-2.29531 3.0604001,2.65772 z' /%3E%3C/svg%3E") !important;
    background-position: 50% 55% !important;
    height: 16px !important;
    width: 16px !important;
    border: 1px solid #2C92E3 !important;
    border-radius: 3px !important;
}

/* Dark Mode in Tweaks */
.urlbarView-favicon,
#urlbar-input-container image:not(#userContext-indicator),
.urlbarView image,
#customization-palette-container image,
#nav-bar-customization-target > toolbarbutton:not(hbox) > image,
#nav-bar-customization-target > toolbarpaletteitem image,
#nav-bar-overflow-button image,
#nav-bar-customization-target stack,
#PopupSearchAutoComplete image,
#searchbar image,
.tab-content > image:not(.tab-icon-image),
.toolbarbutton-icon[type="menu"],
#bookmarks-toolbar-placeholder image,
#PlacesChevron .toolbarbutton-icon,
#import-button image,
#TabsToolbar-customization-target > toolbarbutton:not(hbox) > image,
#TabsToolbar-customization-target > toolbarpaletteitem image,
#nav-bar-customization-target > #zoom-controls > toolbarbutton > image,
#TabsToolbar-customization-target > #zoom-controls > toolbarbutton > image,
#urlbar-search-mode-indicator-close {
    fill: #fff !important;
}
.urlbarView-body-inner,
.search-one-offs:not([is_searchbar="true"]),
 #customization-footer {
    border-top: 1px solid rgba(255,255,255,0.2) !important;
}
.urlbarView-row[label],
#urlbar-input,
.urlbarView-title,
#urlbar-one-offs-header-label,
.urlbarView-title-separator,
#customization-palette-container label,
#customization-palette-container,
#customization-footer checkbox,
.searchbar-textbox,
#PopupSearchAutoComplete label,
#PopupSearchAutoComplete button,
#PopupSearchAutoComplete richlistitem,
#identity-icon-label,
#import-button label,
#nav-bar-customization-target > #zoom-controls > toolbarbutton > label,
#TabsToolbar-customization-target > #zoom-controls > toolbarbutton > label,
#TabsToolbar-customization-target > #wrapper-zoom-controls > #zoom-controls > toolbarbutton > label,
#nav-bar-customization-target > #wrapper-zoom-controls > #zoom-controls > toolbarbutton > label,
#urlbar-zoom-button label,
#urlbar-search-mode-indicator-title,
#wrapper-personal-bookmarks label {
    color: #fff !important;
}
.tab-content > image:not(.tab-icon-image) {
    fill: rgba(255,255,255,1) !important;
}
.tab-icon-pending,
.tab-throbber,
.tab-loading-burst {
    --tab-loading-fill: #fff !important;
    color: #fff !important;
}
.tab-icon-image {
    fill: #fff !important;
}
#customization-container {
    background: #2A2A2E !important;
}

/*** MAKE WINDOW CONTROLS WHITE for DARK MODE ***/
.titlebar-min,
.titlebar-max,
.titlebar-restore,
.titlebar-close {
    filter: invert(1) brightness(200%) !important;
}}
