/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*This style will blend Firefox 65+ in elementary OS.  Currently tested on Linux on Nightly*/

/* This userChrome is for Flatpak Firefox */

/************************************
MENU POPUPS + right mouse click menus
*************************************/

/* Default theme */
menupopup:not(#BMB_bookmarksPopup) menu[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton),
menupopup:not(#BMB_bookmarksPopup) menuitem[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton) {
    appearance: none !important;
    background-color: rgba(0,0,0,0.08) !important;
    color: #000 !important;
}
#BMB_unsortedBookmarksPopup menu[_moz-menuactive="true"][disabled="true"],
#BMB_unsortedBookmarksPopup menuitem[_moz-menuactive="true"][disabled="true"] {
    appearance: none !important;
    background-color: rgba(0,0,0,0) !important;
}
menubar > menu[_moz-menuactive="true"][open="true"] {
    background: rgba(0,0,0,0.08) !important;
    color: black !important;
}

/* Dark Mode in Firefox */
menupopup:-moz-lwtheme-brighttext, panel:-moz-lwtheme-brighttext {
    --panel-background: #303030 !important;
    --panel-color: #fff !important;
    --panel-border-color: #000 !important;
    --arrowpanel-background: #303030 !important;
    --arrowpanel-color: #fff !important;
    --arrowpanel-border-color: #000 !important;
    --button-hover-bgcolor: rgba(255,255,255,0.10) !important;
    --panel-item-hover-bgcolor: rgba(255,255,255,0.10) !important;
}
menupopup:not(#BMB_bookmarksPopup) menu[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton):-moz-lwtheme-brighttext,
menupopup:not(#BMB_bookmarksPopup) menuitem[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton):-moz-lwtheme-brighttext {
    appearance: none !important;
    color: #FFF !important;
    background-color: rgba(255,255,255,0.10) !important;
}
#BMB_unsortedBookmarksPopup menu[_moz-menuactive="true"][disabled="true"]:-moz-lwtheme-brighttext,
#BMB_unsortedBookmarksPopup menuitem[_moz-menuactive="true"][disabled="true"]:-moz-lwtheme-brighttext {
    appearance: none !important;
    background-color: #303030 !important;
}
menubar > menu[_moz-menuactive="true"][open="true"]:-moz-lwtheme-brighttext {
    appearance: none !important;
	color: #d1d1d1 !important;
	background-color: rgba(255,255,255,0.10) !important;
	margin: 0px 6px !important;
}

/* Dark Mode in Tweaks */
.urlbarView-favicon:-moz-lwtheme-brighttext,
#urlbar-input-container image:not(#userContext-indicator):-moz-lwtheme-brighttext,
.urlbarView image:-moz-lwtheme-brighttext,
#customization-palette-container image:-moz-lwtheme-brighttext,
#nav-bar-customization-target > toolbarbutton:not(hbox) > image:-moz-lwtheme-brighttext,
#nav-bar-customization-target > toolbarpaletteitem image:-moz-lwtheme-brighttext,
#nav-bar-overflow-button image:-moz-lwtheme-brighttext,
#nav-bar-customization-target stack:-moz-lwtheme-brighttext,
#PopupSearchAutoComplete image:-moz-lwtheme-brighttext,
#searchbar image:-moz-lwtheme-brighttext,
.tab-content > image:not(.tab-icon-image):-moz-lwtheme-brighttext,
.toolbarbutton-icon[type="menu"]:-moz-lwtheme-brighttext,
#bookmarks-toolbar-placeholder image:-moz-lwtheme-brighttext,
#PlacesChevron .toolbarbutton-icon:-moz-lwtheme-brighttext,
#import-button image:-moz-lwtheme-brighttext,
#TabsToolbar-customization-target > toolbarbutton:not(hbox) > image:-moz-lwtheme-brighttext,
#TabsToolbar-customization-target > toolbarpaletteitem image:-moz-lwtheme-brighttext,
#nav-bar-customization-target > #zoom-controls > toolbarbutton > image:-moz-lwtheme-brighttext,
#TabsToolbar-customization-target > #zoom-controls > toolbarbutton > image:-moz-lwtheme-brighttext,
#urlbar-search-mode-indicator-close:-moz-lwtheme-brighttext {
    fill: #fff !important;
}
.urlbarView-body-inner:-moz-lwtheme-brighttext,
.search-one-offs:not([is_searchbar="true"]):-moz-lwtheme-brighttext,
 #customization-footer:-moz-lwtheme-brighttext {
    border-top: 1px solid rgba(255,255,255,0.2) !important;
}
.urlbarView-row[label]:-moz-lwtheme-brighttext,
#urlbar-input:-moz-lwtheme-brighttext,
.urlbarView-title:-moz-lwtheme-brighttext,
#urlbar-one-offs-header-label:-moz-lwtheme-brighttext,
.urlbarView-title-separator:-moz-lwtheme-brighttext,
#customization-palette-container label:-moz-lwtheme-brighttext,
#customization-palette-container:-moz-lwtheme-brighttext,
#customization-footer checkbox:-moz-lwtheme-brighttext,
.searchbar-textbox:-moz-lwtheme-brighttext,
#PopupSearchAutoComplete label:-moz-lwtheme-brighttext,
#PopupSearchAutoComplete button:-moz-lwtheme-brighttext,
#PopupSearchAutoComplete richlistitem:-moz-lwtheme-brighttext,
#identity-icon-label:-moz-lwtheme-brighttext,
#import-button label:-moz-lwtheme-brighttext,
#nav-bar-customization-target > #zoom-controls > toolbarbutton > label:-moz-lwtheme-brighttext,
#TabsToolbar-customization-target > #zoom-controls > toolbarbutton > label:-moz-lwtheme-brighttext,
#TabsToolbar-customization-target > #wrapper-zoom-controls > #zoom-controls > toolbarbutton > label:-moz-lwtheme-brighttext,
#nav-bar-customization-target > #wrapper-zoom-controls > #zoom-controls > toolbarbutton > label:-moz-lwtheme-brighttext,
#urlbar-zoom-button label:-moz-lwtheme-brighttext,
#urlbar-search-mode-indicator-title:-moz-lwtheme-brighttext,
#wrapper-personal-bookmarks label:-moz-lwtheme-brighttext,
.tab-secondary-label label:-moz-lwtheme-brighttext {
    color: #fff !important;
}
.tab-content > image:not(.tab-icon-image):-moz-lwtheme-brighttext {
    fill: rgba(255,255,255,1) !important;
}
.tab-icon-pending:-moz-lwtheme-brighttext,
.tab-throbber:-moz-lwtheme-brighttext,
.tab-loading-burst:-moz-lwtheme-brighttext {
    --tab-loading-fill: #fff !important;
    color: #fff !important;
}
.tab-icon-image:-moz-lwtheme-brighttext {
    fill: #fff !important;
}
#customization-container:-moz-lwtheme-brighttext {
    background: #2A2A2E !important;
}
.browserContainer > findbar:-moz-lwtheme-brighttext {
    background-color: #303030 !important;
    color: #fff !important;
    border: 1px solid rgba(56,56,56,1) !important;
}
.findbar-textbox:-moz-lwtheme-brighttext {
    background-color: rgba(68,68,68,1) !important;
    color: #fff !important;
    border: 1px solid rgba(56,56,56,1) !important;
}
.tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture], [crashed]):not(:is([pinned])):-moz-lwtheme-brighttext {
    fill: #fff !important;
}

/* Dark Mode in Tweaks and elementary OS System */
@media (prefers-color-scheme: dark) {
menupopup, panel {
    --panel-background: #303030 !important;
    --panel-color: #fff !important;
    --panel-border-color: #000 !important;
    --arrowpanel-background: #303030 !important;
    --arrowpanel-color: #fff !important;
    --arrowpanel-border-color: #000 !important;
    --button-hover-bgcolor: rgba(255,255,255,0.10) !important;
    --panel-item-hover-bgcolor: rgba(255,255,255,0.10) !important;
}
menupopup:not(#BMB_bookmarksPopup) menu[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton),
menupopup:not(#BMB_bookmarksPopup) menuitem[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton) {
    appearance: none !important;
    color: #FFF !important;
    background-color: rgba(255,255,255,0.10) !important;
}
#BMB_unsortedBookmarksPopup menu[_moz-menuactive="true"][disabled="true"],
#BMB_unsortedBookmarksPopup menuitem[_moz-menuactive="true"][disabled="true"] {
    appearance: none !important;
    background-color: #303030 !important;
}
menubar > menu[_moz-menuactive="true"][open="true"] {
	color: #fff !important;
	background-color: rgba(255,255,255,0.10) !important;
}

/* Dark Mode in Tweaks */
.urlbarView-favicon,
#urlbar-input-container image:not(#userContext-indicator),
.urlbarView image,
#customization-palette-container image,
#nav-bar-customization-target > toolbarbutton:not(hbox) > image,
#nav-bar-customization-target > toolbarpaletteitem image,
#nav-bar-overflow-button image,
#nav-bar-customization-target stack,
#PopupSearchAutoComplete image,
#searchbar image,
.tab-content > image:not(.tab-icon-image),
.toolbarbutton-icon[type="menu"],
#bookmarks-toolbar-placeholder image,
#PlacesChevron .toolbarbutton-icon,
#import-button image,
#TabsToolbar-customization-target > toolbarbutton:not(hbox) > image,
#TabsToolbar-customization-target > toolbarpaletteitem image,
#nav-bar-customization-target > #zoom-controls > toolbarbutton > image,
#TabsToolbar-customization-target > #zoom-controls > toolbarbutton > image,
#urlbar-search-mode-indicator-close {
    fill: #fff !important;
}
.urlbarView-body-inner,
.search-one-offs:not([is_searchbar="true"]),
 #customization-footer {
    border-top: 1px solid rgba(255,255,255,0.2) !important;
}
.urlbarView-row[label],
#urlbar-input,
.urlbarView-title,
#urlbar-one-offs-header-label,
.urlbarView-title-separator,
#customization-palette-container label,
#customization-palette-container,
#customization-footer checkbox,
.searchbar-textbox,
#PopupSearchAutoComplete label,
#PopupSearchAutoComplete button,
#PopupSearchAutoComplete richlistitem,
#identity-icon-label,
#import-button label,
#nav-bar-customization-target > #zoom-controls > toolbarbutton > label,
#TabsToolbar-customization-target > #zoom-controls > toolbarbutton > label,
#TabsToolbar-customization-target > #wrapper-zoom-controls > #zoom-controls > toolbarbutton > label,
#nav-bar-customization-target > #wrapper-zoom-controls > #zoom-controls > toolbarbutton > label,
#urlbar-zoom-button label,
#urlbar-search-mode-indicator-title,
#wrapper-personal-bookmarks label,
.tab-secondary-label label {
    color: #fff !important;
}
.tab-content > image:not(.tab-icon-image) {
    fill: rgba(255,255,255,1) !important;
}
.tab-icon-pending,
.tab-throbber,
.tab-loading-burst {
    --tab-loading-fill: #fff !important;
    color: #fff !important;
}
.tab-icon-image {
    fill: #fff !important;
}
#customization-container {
    background: #2A2A2E !important;
}
.browserContainer > findbar {
    background-color: #303030 !important;
    color: #fff !important;
    border: 1px solid rgba(56,56,56,1) !important;
}
.findbar-textbox {
    background-color: rgba(68,68,68,1) !important;
    color: #fff !important;
    border: 1px solid rgba(56,56,56,1) !important;
}
.tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture], [crashed]):not(:is([pinned])) {
    fill: #fff !important;
}}
