/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*This style will blend Firefox 65+ in elementary OS.  Currently tested on Linux on Nightly*/

/* This userChrome is for Flatpak Firefox */

/************************************
MENU POPUPS + right mouse click menus
*************************************/

/* Default theme */
menupopup:not(#BMB_bookmarksPopup) menu[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton),
menupopup:not(#BMB_bookmarksPopup) menuitem[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton) {
    appearance: none !important;
    background-color: rgba(0,0,0,0.08) !important;
    color: #000 !important;
}
#BMB_unsortedBookmarksPopup menu[_moz-menuactive="true"][disabled="true"],
#BMB_unsortedBookmarksPopup menuitem[_moz-menuactive="true"][disabled="true"] {
    appearance: none !important;
    background-color: rgba(0,0,0,0) !important;
}
menubar > menu[_moz-menuactive="true"][open="true"] {
    background: rgba(0,0,0,0.08) !important;
    color: black !important;
}

/* Dark Mode in Tweaks and elementary OS System */
@media (prefers-color-scheme: dark) {
menupopup, panel {
    --panel-background: #303030 !important;
    --panel-color: #fff !important;
    --panel-border-color: #000 !important;
    --arrowpanel-background: #303030 !important;
    --arrowpanel-color: #fff !important;
    --arrowpanel-border-color: #000 !important;
    --button-hover-bgcolor: rgba(255,255,255,0.10) !important;
    --panel-item-hover-bgcolor: rgba(255,255,255,0.10) !important;
}
menupopup:not(#BMB_bookmarksPopup) menu[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton),
menupopup:not(#BMB_bookmarksPopup) menuitem[_moz-menuactive="true"]:not([disabled="true"]):not(.subviewbutton) {
    appearance: none !important;
    color: #FFF !important;
    background-color: rgba(255,255,255,0.10) !important;
}
#BMB_unsortedBookmarksPopup menu[_moz-menuactive="true"][disabled="true"],
#BMB_unsortedBookmarksPopup menuitem[_moz-menuactive="true"][disabled="true"] {
    appearance: none !important;
    background-color: #303030 !important;
}
menubar > menu[_moz-menuactive="true"][open="true"] {
	color: #fff !important;
	background-color: rgba(255,255,255,0.10) !important;
}}
