/* Change most pill-shaped buttons and input fields to square-rounded and most purple colors into the eOS accent color in about pages */
/* Some dialog windows can not be themed and are still pill-shaped and purple */

@-moz-document url-prefix("about:") {

/* -------- Variables --------- */

:root, .lists {
/* Set accent color */
    --eOS-accentcolor: hsl(from AccentColor h s 55%);
    --accentcolor-70: color-mix(in srgb, var(--eOS-accentcolor) 70%, white);
    --accentcolor-100: color-mix(in srgb, var(--eOS-accentcolor) 100%, white);
    --accentcolor-70: color-mix(in srgb, var(--eOS-accentcolor) 60%, white);
    --accentcolor-50: color-mix(in srgb, var(--eOS-accentcolor) 50%, white);
    --accentcolor-40: color-mix(in srgb, var(--eOS-accentcolor) 40%, white);
    --accentcolor-30: color-mix(in srgb, var(--eOS-accentcolor) 30%, white);
    --accentcolor-txt-100-20: color-mix(in srgb, AccentColor 100%, black 20%);
    --accentcolor-txt-100: color-mix(in srgb, AccentColor 100%, black 30%);

/* Draw accent colors to elements */
    --color-accent-primary: var(--accentcolor-100) !important;
    --color-accent-primary-hover: var(--accentcolor-70) !important;
    --lists-button-background: var(--accentcolor-100) !important;
    --lists-button-background-hover: var(--accentcolor-70) !important;
    --button-background-color-primary: var(--accentcolor-100) !important;
    --button-background-color-primary-hover: var(--accentcolor-70) !important;
    --background-color-box: light-dark(var(--color-white), #3A3A3A) !important;

/* Border radius variables */
    --button-border-radius: 4px !important;
    --card-border-radius: 3px !important;
    --popup-border-radius: 6px !important;
    --panel-menuitem-border-radius: 0px !important;
    --border-radius-xsmall: 3px !important;
    --border-radius-small: 3px !important;
    --border-radius-medium: 6px !important;
    --border-radius-large: 6px !important;
    --border-radius-xlarge: 4px !important;
    --border-radius-xxlarge: 4px !important;
    --border-radius-circle: 4px !important;

/* Pull down menus variables */
    --panel-menuitem-margin-inline: 0px !important;
    --panel-separator-padding: 0px !important;
    --panel-border-color: light-dark(rgba(0,0,0,0.2), rgba(0,0,0,1)) !important;

/* Change purple colors of Nova normal mode to greys */
    --color-violet-desaturated-0: rgba(255,255,255,1) !important;
    --color-violet-desaturated-10: rgba(0,0,0,0.1) !important;
    --color-violet-desaturated-20: rgba(0,0,0,0.1) !important;
    --color-violet-desaturated-30: rgba(0,0,0,0.1) !important;
    --color-violet-desaturated-40: rgba(0,0,0,0.1) !important;
    --color-violet-desaturated-50: rgba(0,0,0,0.1) !important;
    --color-violet-desaturated-60: rgba(0,0,0,0.1) !important;
    --color-violet-desaturated-70: rgba(0,0,0,0.1) !important;
    --color-violet-desaturated-80: rgba(0,0,0,0.8) !important;
    --color-violet-desaturated-90: rgba(0,0,0,0.9) !important;
    --color-violet-0: rgba(255,255,255,1) !important;
    --color-violet-10: rgba(0,0,0,0.1) !important;
    --color-violet-20: rgba(0,0,0,0.1) !important;
    --color-violet-30: rgba(0,0,0,0.1) !important;
    --color-violet-40: rgba(0,0,0,0.1) !important;
    --color-violet-50: rgba(0,0,0,0.1) !important;
    --color-violet-60: rgba(0,0,0,0.1) !important;
    --color-violet-70: rgba(0,0,0,0.1) !important;
    --color-violet-80: rgba(0,0,0,0.8) !important;
    --color-violet-90: rgba(0,0,0,0.9) !important;
}
/* Dark mode variables */
@media (prefers-color-scheme: dark) {
:root {
    --color-violet-desaturated-0: rgba(255,255,255,1) !important;
    --color-violet-desaturated-10: rgba(255,255,255,0.10) !important;
    --color-violet-desaturated-20: rgba(255,255,255,0.10) !important;
    --color-violet-desaturated-30: rgba(255,255,255,0.10) !important;
    --color-violet-desaturated-40: rgba(255,255,255,0.10) !important;
    --color-violet-desaturated-50: rgba(255,255,255,0.10) !important;
    --color-violet-desaturated-60: rgba(255,255,255,0.10) !important;
    --color-violet-desaturated-70: rgba(255,255,255,0.10) !important;
    --color-violet-desaturated-80: rgba(255,255,255,0.2) !important;
    --color-violet-desaturated-90: rgba(255,255,255,0.1) !important;
    --color-violet-0: rgba(255,255,255,1) !important;
    --color-violet-10: rgba(255,255,255,0.10) !important;
    --color-violet-20: rgba(255,255,255,0.10) !important;
    --color-violet-30: rgba(255,255,255,0.10) !important;
    --color-violet-40: rgba(255,255,255,0.10) !important;
    --color-violet-50: rgba(255,255,255,0.10) !important;
    --color-violet-60: rgba(255,255,255,0.10) !important;
    --color-violet-70: rgba(255,255,255,0.10) !important;
    --color-violet-80: rgba(255,255,255,0.2) !important;
    --color-violet-90: rgba(255,255,255,0.1) !important;
}}

/* -------- Background color of about pages --------- */
body, .main-content, #search-container, #content:not([aria-describedby="content"]), .main-search, .main-heading {
    background-color: #FAFAFA !important;
}
@media (prefers-color-scheme: dark) {
body, .main-content, #search-container, #content:not([aria-describedby="content"]), .main-search, .main-heading {
    background-color: #333333 !important;
}}

/* -------- Background color of cards in about pages --------- */
moz-card[type="default"] {
    border: 1px solid #D6D5DA !important;
    border-radius: 0px !important;
    background-color: #FFFFFF !important;
    box-shadow: none !important;
}
@media (prefers-color-scheme: dark) {
moz-card[type="default"] {
    border: 1px solid black !important;
    border-radius: 0px !important;
    background-color: #3A3A3A !important;
    box-shadow: none !important;
}}

/* -------- Draw buttons in eOS style --------- */

.button-background[type="primary"],
.lists-add-button,
button.primary,
#main-button:not([title="Minimize widgets"]) .button-background[type="default"],
.disco-cta-button {
    color: var(--accentcolor-txt-100) !important;
    fill: var(--accentcolor-txt-100) !important;
    border: 1px solid var(--accentcolor-70) !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), 0 2px 2px 0px rgba(0,0,0,0.1) !important;
    background-color: var(--accentcolor-30) !important;
    filter: brightness(105%) !important;
}
.button-background[type="primary"]:active,
.lists-add-button:active,
button.primary:active,
#main-button:not([title="Minimize widgets"]) .button-background[type="default"]:active,
.disco-cta-button:active {
    color: var(--accentcolor-txt-100) !important;
    fill: var(--accentcolor-txt-100) !important;
    border: 1px solid var(--accentcolor-70) !important;
    border-radius: 4px !important;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.1) !important;
    background-color: var(--accentcolor-30) !important;
    filter: brightness(105%) !important;
}
/* Draw buttons in eOS style dark mode */
@media (prefers-color-scheme: dark) {
.button-background[type="primary"],
.lists-add-button,
button.primary,
#main-button:not([title="Minimize widgets"]) .button-background[type="default"],
.disco-cta-button {
    color: var(--accentcolor-txt-100) !important;
    fill: var(--accentcolor-txt-100) !important;
    border: 1px solid var(--accentcolor-70) !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), 0 2px 2px 0px rgba(0,0,0,0.5) !important;
    background-color: var(--accentcolor-40) !important;
}
.button-background[type="primary"]:active,
.lists-add-button:active,
button.primary:active,
#main-button:not([title="Minimize widgets"]) .button-background[type="default"]:active,
.disco-cta-button:active {
    color: var(--accentcolor-txt-100) !important;
    fill: var(--accentcolor-txt-100) !important;
    border: 1px solid var(--accentcolor-70) !important;
    border-radius: 4px !important;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.25) !important;
    background-color: var(--accentcolor-40) !important;
}}

/* -------- Style the navigation bar in the about pages to eOS style -------- */

nav,
.page-nav-heading-wrapper {
    padding: 0px 0px 0px 30px !important;
}
moz-page-nav {
    background-color: #F1F1F1 !important;
    margin-inline-start: -40px !important;
    padding-inline-start: 40px !important;
    padding-inline-end: 0px !important;
    border-inline-end: 0px !important;
    border-right: 1px solid #D6D5DA !important;
}
button[selected][role="tab"],
.moz-page-nav-link[selected] {
    color: #242324 !important;
    border-radius: 0px !important;
    background-color: #DFDFDF !important;
    margin-inline-start: -40px !important;
    padding-left: 51px !important;
}
button[role="tab"]:hover,
.moz-page-nav-link:hover {
    border-radius: 0px !important;
    background-color: white !important;
    margin-inline-start: -40px !important;
    padding-left: 51px !important;
}
.nav-separator,
nav hr {
    margin-inline-start: -40px !important;
    padding-left: 40px !important;
    height: 0px !important;
    background-color: transparent !important;
}
/* Style the navigation bar in the about pages to eOS style dark mode */
@media (prefers-color-scheme: dark) {
moz-page-nav {
    background-color: #313131 !important;
    border-right: 1px solid #000 !important;
}
button[selected][role="tab"],
.moz-page-nav-link[selected] {
    color: white !important;
    background-color: #252525 !important;
}
button[role="tab"]:hover,
.moz-page-nav-link:hover {
    background-color: #3A3A3A !important;
}}

/* -------- Seperator color and background color of pull down menus --------- */

hr {
    border-top: 1px solid rgba(0,0,0,0.15) !important;
    border-bottom: 1px solid rgba(255,255,255,1) !important;
}
panel-list {
    color-scheme: light !important;
    background-color: #FAFAFA !important;
}
/* Dark mode seperator color and background color of pulldown menus */
@media (prefers-color-scheme: dark) {
hr {
    border-top: 1px solid rgba(0,0,0,0.3) !important;
    border-bottom: 1px solid rgba(255,255,255,0.05) !important;
}
panel-list {
    color-scheme: dark !important;
    background-color: #36363A !important;
}}

/* -------- Make toggle on-off buttons round again --------- */

.toggle-button {
    border-radius: 9999px !important;
}
.toggle-button::before {
    border-radius: 9999px !important;
}

/* -------- Make border radius in url bar in about pages smaller --------- */

.urlbar[in-page] {
    --urlbar-border-radius: 3px !important;
}

/* -------- Make outlined element border radius larger than its buttons --------- */

moz-segmented-control {
    border-radius: 6px !important;
}

/* -------- Make buttons active state disappear --------- */

button:active, .button:active {
    background-color: transparent !important;
}

/* -------- Make buttons of pull down menus accent color --------- */

button[aria-expanded="true"] {
    background-color: var(--accentcolor-70) !important;
    border-radius: 3px !important;
}

/* -------- Make the circle of timer widget round again --------- */

.progress-circle-wrapper .progress-circle-background, .progress-circle-wrapper .progress-circle-background-break, .progress-circle-wrapper .progress-circle, .progress-circle-wrapper .progress-circle-complete {
    border-radius: 9999px !important;
}
}
