/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*This style will blend Firefox 65+ in elementary OS.  Currently tested on Linux on Nightly*/

/* This userChrome is for button layout Minimize left */

@import "base.css";
@import "flatpak.css";

/* brings window controls in the nav bar */
.titlebar-buttonbox {
    flex-direction: row-reverse !important;
    top: 9px !important;
    margin-left: 1px !important;
    position: absolute !important;
    display: flex !important;
    width: 100vw !important;
    height: 25px !important;
    justify-content: start !important;
}

/* brings max and min button to the right */
.titlebar-max,
.titlebar-restore { 
    margin-left: calc(100vw - 69px) !important;
}
.titlebar-min { 
    margin-left: calc(43px - 100vw) !important;
}

/* dont show window controls in fullscreen */
:root[sizemode="fullscreen"] .titlebar-buttonbox {
    display: none !important;
}

/* makes room for window control buttons */
#nav-bar {
    padding: 0px 41px 0px 76px !important;
}
